@import "tailwindcss";

@font-face {
  font-family: "Comix Loud";
  src: url("/fonts/ComixLoud.ttf") format("truetype");
  font-display: swap;
}

:root {
  --background: #000000;
  --bg-secondary: linear-gradient(96.2deg, #ff5722 5.22%, #99240b 99.44%);
  --foreground: #ffffff;
  --clr-yellow: #ffd94d;
  --clr-red-orange: #fa5421;
}

@theme inline {
  --color-background: var(--background);
  --color-background-secondary: var(--bg-secondary);
  --color-foreground: var(--foreground);
  --color-yellow: var(--clr-yellow);
  --color-red-orange: var(--clr-red-orange);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-sometype-mono);
  --font-comix-loud: "Comix Loud", cursive;
  --font-titan-one: var(--font-titan-one);
  --font-comfortaa: var(--font-comfortaa);
}
/* 
@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
} */

html {
  width: 100%;
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: var(--font-mono), Helvetica, sans-serif;
}

@media screen and (min-width: 1700px) {
  html {
    display: grid;
    justify-items: center;
  }

  body {
    max-width: 1700px;
    width: 100%;
  }
}

@keyframes spin360 {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.rotate-360 {
  animation: spin360 10s ease-in-out;
}

@keyframes beat {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.1);
  }
  100% {
    transform: scale(1);
  }
}
.beat {
  animation: beat 0.7s infinite;
}
